<%= render '/freelance/settings/control_js' %>
<h3>Настройка</h3>
<div id="sunstrike_settnigs_div">
  <div class="plitka">
    <h4> Поле, по которому выставляется признак "фриланса" </h4>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[sunstrike_freelance_field_id]',
                     options_for_select(select_mark_freelance,
                                        Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_id'].to_i)) %>
    </div>
  </div>
  <div class="plitka">
    <h4>Добавить роли к категории фриланс:</h4>
    <% if role_user_work_add.size > 0 %>
      <div id="id_rol_on_selected_">
        <%= select_tag("settings[sunstrike_freelance_role_id]",
                       options_for_select(role_user_work_add)) %>
        <%= link_to 'Добавить', "/ssrfreelance/add/(:id)", method: :post, id: 'role_add_to_freelance' %>
      </div>
    <% end %>

    <div>Какие роли уже принадлежат к категории фриланс:</div>
    <% role_adds.each do |item| %>
      <div id="id_rol_on_selected_<%= item.last %>">
        <span><%= item.first %></span>
        <%= link_to 'Удалить', "/ssrfreelance/delete/#{item.last}", method: :post %>
      </div>
    <% end %>

  </div>
  <% Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_page'] = SsrFreelanceHelper.mark_custom_field_freelance unless SsrFreelanceHelper.mark_custom_field_freelance == [] %>
</div>
<div id="sunstrike_settnigs_div">

  <div class="plitka">
    <h4>Поле Фриланс (Начислено)</h4>
    <% if role_user_work_add.size > 0 %>
      <div id="id_rol_on_selected_">
        <%= select_tag("settings[sunstrike_freelance_field_accrued]",
                       options_for_select(select_mark_freelance,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_accrued'])) %>
      </div>
    <% end %>
  </div>
  <div class="plitka">
    <h4>Поле Фриланс (Выплачено)</h4>
    <% if role_user_work_add.size > 0 %>
      <div id="id_rol_on_selected_">
        <%= select_tag("settings[sunstrike_freelance_field_paid]",
                       options_for_select(select_mark_freelance,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_paid'])) %>
      </div>
    <% end %>
  </div>
  <div class="plitka">
    <h4>Поле Фриланс статус</h4>
    <% if role_user_work_add.size > 0 %>
      <div id="id_rol_on_selected_">
        <%= select_tag("settings[sunstrike_freelance_field_status]",
                       options_for_select(select_mark_freelance,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_status'])) %>
      </div>
    <% end %>
    <% if status_select.size > 0 %>
        <div class="plitka_dop">
          <h4>Статус по которому оплачено 50%</h4>
          <%= select_tag("settings[sunstrike_freelance_field_status_50]",
                         options_for_select(status_select,
                                            Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_status_50'])) %>
        </div>
        <div class="plitka_dop">
          <h4>Статус по которому оплачено 100%</h4>
          <%= select_tag("settings[sunstrike_freelance_field_status_100]",
                         options_for_select(status_select,
                                            Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_field_status_100'])) %>
        </div>
    <% end %>

  </div>
  <div class="plitka">
    <h4>Поле способа оплаты фрилансеру:</h4>
    <div class="plitka_dop">
      <div id="sunstrike_settnigs_title">В настройках пользователя</div>
      <div id="id_rol_on_selected_">
        <%= select_tag('settings[sunstrike_freelance_pay_user_field_id]',
                       options_for_select(select_mark_freelance_user,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_pay_user_field_id'])) %>
      </div>
    </div>
    <div class="plitka_dop">
      <div id="sunstrike_settnigs_title">В задачах:</div>
      <div id="id_rol_on_selected_">
        <%= select_tag('settings[sunstrike_freelance_pay_issue_field_id]',
                       options_for_select(select_mark_freelance_issue,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_pay_issue_field_id'])) %>
      </div>
    </div>
  </div>
  <div class="plitka">
    <h4>Поле реквизиты оплаты фрилансеру:</h4>
    <div class="plitka_dop">
      <div id="sunstrike_settnigs_title">В настройках пользователя</div>
      <div id="id_rol_on_selected_">
        <%= select_tag('settings[sunstrike_freelance_pay_wallet_user_field_id]',
                       options_for_select(select_mark_freelance_user,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_pay_wallet_user_field_id'])) %>
      </div>
    </div>
    <div class="plitka_dop">

      <div id="sunstrike_settnigs_title">В задачах</div>
      <div id="id_rol_on_selected_">
        <%= select_tag('settings[sunstrike_freelance_pay_wallet_issue_field_id]',
                       options_for_select(select_mark_freelance_issue,
                                          Setting.plugin_sunstrike_redmine_freelance_plg['sunstrike_freelance_pay_wallet_issue_field_id'])) %>
      </div>
    </div>
  </div>
</div>
</div>


<div>
  <% Setting.plugin_sunstrike_redmine_freelance_plg %>
</div>

